{% extends 'dashboard/base.html' %}

{% block content %}

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Add New-Policy</h3>
        </div>
        <div class="card-body">
         <div class="container">
          <form name="myformcont" class="my-2" action="{% url 'add_record' %}" method="POST">
            {% csrf_token %}
            <!-- <h2 class="text-center">LIC Form</h2> -->
            <div class="row jumbotron">

          <div class="col-sm-4 form-group" style="margin-top: -20px;">
            <label for="name">First Name :</label>
            <input type="text" class="form-control" name="first_name" id="name-f" placeholder="First Name." required>
          </div>
          <div class="col-sm-4 form-group" style="margin-top: -20px;">
            <label for="name">Middle Name :</label>
            <input type="text" class="form-control" name="middle_name" id="name-f" placeholder="Middle Name." >
          </div>
          <div class="col-sm-4 form-group" style="margin-top: -20px;">
            <label for="name">Last Name :</label>
            <input type="text" class="form-control" name="last_name" id="name-f" placeholder="Last Name." required>
          </div>
          
          <div class="col-sm-12 form-group">
            <label for="email">Email :</label>
            <input type="text" class="form-control" name="email" id="name-l" placeholder="Email" required>
          </div>
          <div class="col-sm-6 form-group">
            <label for="Date">Date of Birth :</label>
            <input type="Date" name="dob" class="form-control" id="Date" placeholder="enter your date of birth" required>
          </div>
          <div class="col-sm-6 form-group">
            <label for="e_group">Contact No.</label>
            <input type="text" class="form-control" name="contact" id="name-f" placeholder="Contact Number" required>
          </div>
          <div class="col-sm-12 form-group">
            <label for="cost_center">Address Line 1</label>
            <input type="text" class="form-control" name="address_line_one" id="cost_center" placeholder="Address Line 1" required>
          </div>
          <div class="col-sm-12 form-group">
            <label for="cost_center">Address Line 2</label>
            <input type="text" class="form-control" name="address_line_two" id="cost_center" placeholder="Address Line 2" >
          </div>
          <div class="col-sm-6 form-group">
        <label for="bname">Lendmark</label>
        <input type="text" class="form-control" name="lendmark" id="name-l" placeholder="Lendmark">
      </div>
          <div class="col-sm-6 form-group">
        <label for="bname">City</label>
        <input type="text" class="form-control" name="city" id="name-l" placeholder="City" required>
      </div>
      <div class="col-sm-6 form-group">
        <label for="bname">State</label>
        <input type="text" class="form-control" name="state" id="name-l" placeholder="State" required>
      </div>
          
      <div class="col-sm-6 form-group">
        <label for="bname">Policy Number</label>
        <input type="text" class="form-control" name="policy_number" id="name-l" placeholder="Policy Number" required>
      </div>
      <div class="col-sm-6 form-group">
        <label for="Dname">Premium</label>
        <input type="text" class="form-control" name="premium" id="name-l" placeholder="Premium" required>
      </div>

      <div class="col-sm-6 form-group">
        <label for="created_on">Start Date</label>
        <input type="Date" class="form-control" name="created_on" id="PMDate" placeholder="Start Date" required>
      </div>
      <div class="col-sm-6 form-group">
        <label for="type_of_policy">Pay Frequency</label>
        <select id="period"  name="pay_for" class="form-control browser-default custom-select" required/>
        <!-- <option disabled>type of policy</option> -->
        <option disabled="true" selected="selected">-----Select ----</option>
        <option value="Monthly">Monthly</option>
        <option value="Quarterly">Quarterly</option>
        <option value="HalfYear">HalfYear</option>
        <option value="Annually">Annually</option>
      </select>
    </div>
    <div class="col-sm-6 form-group">
      <label for="renew_date">Renew Date</label>
      <input type="date" name="renew_date" data-date-format="DD-MM-YYYY" class="form-control datetimepicker"  id="NPMDate" placeholder="Enter renew date" required readonly>
      
    </div>
    
      <div class="col-sm-6 form-group">
        <label for="Payslip">Sum Assured</label>
        <input type="text" class="form-control" name="sum_assured" id="address-1" placeholder="Sum Assured" required>
      </div>
      
      
      <div class="col-sm-6 form-group">
        <label for="cc description">Year of Policy</label>
        <input type="text" class="form-control" name="year_of_policy" id="description" placeholder="Year of Policy" required>
      </div>
      <div class="col-sm-6 form-group">
        <label for="pan_no"> Beneficiary Name</label>
        <input type="text" class="form-control" name="beneficiary_name" id="pan-no" placeholder="Beneficiary Name" required>
      </div>
      <div class="col-sm-6 form-group">
        <label for="type_of_policy">Policy Type</label>&nbsp;&nbsp;<a href="/add-policy"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size:18px"></i></a>
        <select id="inputType"  name="type" class="form-control browser-default custom-select" required/>
        <!-- <option disabled>type of policy</option> -->
        <option disabled="true" selected="selected">-----Select Policy----</option>{% for obj in context %}
        <option value="{{obj.policy_type}}">{{obj.policy_type}}</option>
        {% endfor %}
      </select>
    </div>

      <div class="col-sm-12">
        <input type="checkbox" class="form-check d-inline" id="chb" required><label for="chb" class="form-check-label">&nbsp;I accept all terms and conditions.
        </label>
      </div>

      <div class="col-sm-12 form-group mb-0">
       <button class="btn btn-primary float-right">Submit</button>
     </div>
     
   </div>
 </form>
</div> 
</div>
</div>
</div>
</div>

{% include "dashboard/footer.html" %}

</div>


{% endblock content %}