{% extends 'dashboard/base.html' %}

{% block content %}

<!-- <script>
      $(document).ready(function() {
        var i = 1;
        $("#add_row").click(function() {
          $('#addr' + i).html("<td>" + (i + 1) + "</td><td><input name=' family_names[]' type='text' placeholder=' Family Name' class='form-control input-md'/> </td><td><input  name='family_dob[]' type='date' placeholder=' Family Dob' class='form-control input-md'/> </td><td><select class='form-control' name='relation_type[]'><option value='' selected>Select</option><option value='Father'>Father</option><option value='Mother'>Mother</option><option value='Wife'>Wife</option><option value='Children'>Children</option></select></td>....<td><select class='form-control' name='gender[]'><option value='' selected>Select</option><option value='Male'>Male</option><option value='Female'>Female</option></select></td>");
          $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
          i++;
        });
        $("#delete_row").click(function() {
          if (i > 1) {
            $("#addr" + (i - 1)).html('');
            i--;
          }
        });
      });
      $('#yearPicker').datetimepicker({
        format: "YYYY",
        viewMode: "years",
      });
    </script> -->


<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Add Customer Policy</h3>
        </div>
        <div class="card-body">
         <div class="container">
          <form name="myformcont" class="my-2" action="{% url 'add_record' %}" method="POST">
            {% csrf_token %}
            <!-- <h2 class="text-center">LIC Form</h2> -->
            <div class="row jumbotron">

          <div class="col-sm-4 form-group" style="margin-top: -20px;">
            <label for="name">First Name :</label><span class="required">*</span>
            <input type="text" class="form-control" name="first_name" id="name-f" placeholder="First Name." required>
          </div>

          <div class="col-sm-4 form-group" style="margin-top: -20px;">
            <label for="name">Middle Name :</label>
            <input type="text" class="form-control" name="middle_name" id="name-f" placeholder="Middle Name." >
          </div>
          <div class="col-sm-4 form-group" style="margin-top: -20px;">
            <label for="name">Last Name :</label><span class="required">*</span>
            <input type="text" class="form-control" name="last_name" id="name-f" placeholder="Last Name." required>
          </div>

          <div class="col-sm-4 form-group">
            <label for="Date">Date of Birth :</label><span class="required">*</span>
            <input type="Date" name="dob" class="form-control" id="Date" placeholder="enter your date of birth" required>
          </div>
          
          <div class="col-sm-4 form-group">
            <label for="email">Email :</label><span class="required">*</span>
            <input type="text" class="form-control" name="email" id="name-l" placeholder="Email" required>
          </div>
          
          <div class="col-sm-4 form-group">
            <label for="e_group">Contact No.</label><span class="required">*</span>
            <input type="number" class="form-control" name="contact" id="name-f" placeholder="Contact Number" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
              type = "number"
              maxlength = "12" required>
          </div>

          <div class="col-sm-6 form-group">
            <label for="cost_center">Address Line 1</label><span class="required">*</span>
            <input type="text" class="form-control" name="address_line_one" id="cost_center" placeholder="Address Line 1" required>
          </div>
          <div class="col-sm-6 form-group">
            <label for="cost_center">Address Line 2</label>
            <input type="text" class="form-control" name="address_line_two" id="cost_center" placeholder="Address Line 2" >
          </div>
          <div class="col-sm-4 form-group">
        <label for="bname">Landmark</label>
        <input type="text" class="form-control" name="lendmark" id="name-l" placeholder="Landmark">
      </div>
          <div class="col-sm-4 form-group">
        <label for="bname">City</label><span class="required">*</span>
        <input type="text" class="form-control" name="city" id="name-l" placeholder="City" required>
      </div>

        <div class="col-sm-4 form-group">
        <label for="state">State</label><span class="required">*</span>
        <select   name="state" class="form-control browser-default custom-select" required/>
        <!-- <option disabled>type of policy</option> -->
        <option disabled="true" selected="selected">-----Select ----</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
        <option value="Arunachal Pradesh">Arunachal Pradesh</option>
        <option value="Assam">Assam</option>
        <option value="Bihar">Bihar</option>
        <option value="Chhattisgarh">Chhattisgarh</option>
        <option value="Goa">Goa</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Haryana">Haryana</option>
        <option value="Himachal Pradesh">Himachal Pradesh</option>
        <option value="Jharkhand">Jharkhand</option>
        <option value="Karnataka">Karnataka</option>
        <option value="Kerala">Kerala</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Manipur">Manipur</option>
        <option value="Meghalaya">Meghalaya</option>
        <option value="Mizoram">Mizoram</option>
        <option value="Nagaland">Nagaland</option>
        <option value="Odisha">Odisha</option>
        <option value="Punjab">Punjab</option>
        <option value="Rajasthan">Rajasthan</option>
        <option value="Sikkim">Sikkim</option>
        <option value="Tamil Nadu">Tamil Nadu</option>
        <option value="Telangana">Telangana</option>
        <option value="Tripura">Tripura</option>
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="Uttarakhand">Uttarakhand</option>
        <option value="West Bengal">West Bengal</option>

      </select>
    </div>

          
      <div class="col-sm-4 form-group">
        <label for="bname">Policy Number (must be unique)</label><span class="required">*</span>
        <input type="text" class="form-control" name="policy_number" id="name-l" placeholder="Policy Number" required>
      </div>
      <div class="col-sm-4 form-group">
        <label for="Dname">Premium Amount</label><span class="required">*</span>
        <input type="text" class="form-control" name="premium" id="name-l" placeholder="Premium Amount" required>
      </div>

      <div class="col-sm-4 form-group">
        <label for="created_on">Start Date</label><span class="required">*</span>
        <input type="Date" class="form-control" name="created_on" id="PMDate" placeholder="Start Date" required>
      </div>

      <div class="col-sm-4 form-group">
        <label for="type_of_policy">Pay Frequency</label><span class="required">*</span>
        <select id="period"  name="pay_for" class="form-control browser-default custom-select" required/>
        <!-- <option disabled>type of policy</option> -->
        <option disabled="true" selected="selected">-----Select ----</option>
        <option value="Monthly">Monthly</option>
        <option value="Quarterly">Quarterly</option>
        <option value="HalfYear">HalfYear</option>
        <option value="Annually">Annually</option>
        <option value="OneTime">OneTime</option>
      </select>
    </div>
    
    <div class="col-sm-4 form-group">
      <label for="renew_date">Due Date </label>
      <input type="date" name="renew_date" data-date-format="DD-MM-YYYY" class="form-control datetimepicker"  id="NPMDate" placeholder="Enter renew date" required readonly>
      
    </div>
    
      <div class="col-sm-4 form-group">
        <label for="Payslip">Sum Assured</label><span class="required">*</span>
        <input type="text" class="form-control" name="sum_assured" id="address-1" placeholder="Sum Assured" required>
      </div>
      
      
      <div class="col-sm-4 form-group">
        <label for="cc description">Premium Paying Term</label><span class="required">*</span>
        <input type="text" class="form-control" name="year_of_policy" id="description" placeholder="Premium Paying Term" required>
      </div>

      <div class="col-sm-4 form-group">
        <label for="cc description">Last Payment Date</label><span class="required">*</span>
        <input type="Date" class="form-control" name="last_payment_date" id="description" placeholder="Last Payment Date" required>
      </div>

      <div class="col-sm-4 form-group">
        <label for="pan_no"> Beneficiary Name</label>
        <input type="text" class="form-control" name="beneficiary_name" id="pan-no" placeholder="Beneficiary Name" >
      </div>
      
      <div class="col-sm-4 form-group">
        <label for="type_of_policy">Policy Type</label>

        <a style="border:none; color:#5e72e4;" type="button" href="{% url 'add-policy' %}"  class="fa fa-plus-circle"></a>
       
        <select id="inputType"  name="type" class="form-control browser-default custom-select" required/>
        <!-- <option disabled>type of policy</option> -->
        <option disabled="true" selected="selected">-----Select Policy----</option>{% for obj in context %}
        <option value="{{obj.policy_type}}">{{obj.policy_type}}</option>

        {% endfor %}
        
      </select>
    </div>

    <div class="col-sm-4 form-group">
      <label for="e_group">Commission</label><span class="required">*</span>
      <input type="number" class="form-control" name="commission" id="name-f" placeholder="Commission" required>
    </div>

    <div class="col-sm-4 form-group">
      <label for="e_group">Commission Date</label><span class="required">*</span>
      <input type="date" class="form-control" name="commission_date" id="name-f" placeholder="Commission Date" required>
    </div>


     <!------ Include the above in your HEAD tag ---------->
     <!-- <div class="col-sm-12">      
      <h2 class="text-center">Family Details</h2>
      </div><br><br>
  
    <div class="row clearfix">
      <div class="col-md-12 column">
        <table class="table " id="tab_logic">
          
          <tbody>
            <tr id='addr0'>
              <td>
                1
              </td>
              <td>
                <label for="e_group"> Name</label>
                <input type="text" class="form-control" name="family_names[]" id="name-f" placeholder="Family Name" >
              </td>

               <td>
                <label for="e_group"> Date of Birth</label>
                <input type="date" class="form-control" name="family_dob[]" id="name-f" placeholder="Family Dob" >
              </td>

              <td>
                <label for="type_of_policy">Relation Type</label>
                <select class="form-control" name="relation_type[]">
                  <option disabled="true" selected="selected">-----Select ---- </option>
                  <option value="Father">Father</option>
                  <option value="Mother">Mother</option>
                  <option value="Wife">Wife</option>
                  <option value="Children">Children</option>
                </select>
              </td>


              <td>
                <label for="type_of_policy">Gender</label>
                <select class="form-control" name="gender[]">
                <option disabled="true" selected="selected">-----Select ----</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                </select>
              </td>

            </tr>
            <tr id='addr1'></tr>
          </tbody>
        </table>
      </div>
    </div>
 -->

 
    <!-- <div class="col-sm-12 form-group mb-0" style="margin-top: 10px;">
       
       <a id='delete_row' style="margin:2px; background-color: #b80000" class="btn btn-sm btn-primary float-right"><span style="color: white"><i class="fas fa-trash-alt"></i></span></a>
       
       <a id="add_row" style="margin:2px; " class="btn btn-sm btn-primary float-right"><span style="color: white"><i class="fas fa-plus"></span></i></a>
    
    </div> -->
     

      <div class="col-sm-12">
        <input type="checkbox" class="form-check d-inline" id="chb" required><label for="chb" class="form-check-label">&nbsp;I accept all terms and conditions.
        </label>
      </div>

      <div class="col-sm-12 form-group mb-0">
       <button class="btn btn-primary float-right">Submit</button>
     </div>
     
   </div>
 </form>
</div> 
</div>
</div>
</div>
</div>

{% include "dashboard/footer.html" %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form name="myformcont" class="my-2" action="{% url 'add-policy' %}" method="POST">
          {% csrf_token %}
          <!-- <h2 class="text-center">LIC Form</h2> -->
        
        <div class="col-sm-12 form-group" style="margin-top: -20px;">
          <label for="name">New Policy-Type :</label><span class="required">*</span>
          <input type="text" class="form-control" name="policy_type" id="name-f" placeholder="Policy Type" required>
        </div>          
        
        <div class="col-sm-12 form-group mb-0">
        <button class="btn btn-primary float-right">Submit</button>
        </div>
        
        </form>
      </div>
    
    </div>
  </div>
</div>

</div>



{% endblock content %}


