  
<!DOCTYPE html>
<html lang="en">

<!-- Static assets - Used to load the Favicon -->
{% load static %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>Policy Management System(DS)</title>
  
  <!-- Favicon - loaded as static -->
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon-32x32.png">
  <!-- Latest compiled and minified CSS -->
  {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> {% endcomment %}

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/static/assets/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/static/assets/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/static/assets/css/argon-dashboard.css?v=1.1.0" rel="stylesheet" />
  <link rel="stylesheet" href="/static/css/msg1.css" />

</head>
{% if messages %}
<ul class="messages">
 {% for message in messages %}
 <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
 {% endfor %}
</ul>
{% endif %}

<body class="">
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand logo_h" href="{% url 'home' %}"
      ><img src="/static/img/pms.png"  style="margin-right:180px;"  alt=""
      /></a>
      <!-- User -->
      <ul class="nav align-items-center d-md-none">
        <li class="nav-item dropdown">
          <a class="nav-link nav-link-icon" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ni ni-bell-55"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right" aria-labelledby="navbar-default_dropdown_1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                {% if data.profile_pic %}
                <img src="/media/{{data.profile_pic}}" style="height:40px;width:40px;border-radius:50%">
                {% else %}
                <img src="/static/ishwar.jpg" style="height:40px;width:40px;border-radius:50%">
                {% endif %}
              </span>
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
            <div class=" dropdown-header noti-title">
              <h6 class="text-overflow m-0">Welcome!</h6>
            </div>
            
            <a href="#" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>My profile</span>
            </a>

            <a href="#" class="dropdown-item">
              <i class="ni ni-settings-gear-65"></i>
              <span>Settings</span>
            </a>
            <a href="/profile.html" class="dropdown-item">
              <i class="ni ni-calendar-grid-58"></i>
              <span>Activity</span>
            </a>
            <a href="/profile.html" class="dropdown-item">
              <i class="ni ni-support-16"></i>
              <span>Support</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'user_logout' %}" class="dropdown-item">
              <i class="ni ni-user-run"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="{% url 'home' %}">
                <img src="/static/img/logo3.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="mt-4 mb-3 d-md-none">
          <div class="input-group input-group-rounded input-group-merge">
            <input type="search" class="form-control form-control-rounded form-control-prepended" placeholder="Search" aria-label="Search" name>
            <div class="input-group-prepend">
              <div class="input-group-text">
                <span class="fa fa-search"></span>
              </div>
            </div>
          </div>
        </form>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item  class=" active="">
            <a class=" nav-link active " href="{% url 'index' %}"> <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'add-policy'%}">
              <i class="ni ni-planet text-blue"></i>Add New-Policy
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'performance' %}">
              <i class="ni ni-pin-3 text-orange"></i>Maps-Performance
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'edit_profile' %}">
              <i class="ni ni-single-02 text-yellow"></i> User profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'show_record' %}">
              <i class="ni ni-bullet-list-67 text-info"></i>Show-Policy
            </a>
          </li>

          <li class="nav-item">
            <!-- <a class="nav-link" href="{% url 'user_logout' %}">
              <i class="ni ni-user-run text-red"></i> Logout
            </a> -->
            <a href="#" class="nav-link" data-toggle="modal" data-target="#logoutModal" >
              <i class="ni ni-user-run text-red"></i> 
              <span>Logout</span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading text-muted">Storage Data<br><br><span style="color: red" >(Coming Soon...)</span></br></h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link" 
            href="#">
            <i style="color:#fb6340" class="fa fa-trash"></i>Trash
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" 
          href="{% url 'my-drive' %}">
          <i style="color:#11cdef" class="fa fa-store"></i>Pms Drive
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" 
        href="#">
        <i style="color: #5e72e4" class="fas fa-align-left"></i> Storage
      </a>
      <h6 style="margin-left:60px;" class="navbar-heading text-muted"><span style="color: #11cdef">1 GB of 10 GB used</span></h6>
      <i style="margin-left:60px" class="navbar-heading text-muted"><span style="color:#fb6340 ">Buy Storage</span></i>
    </li>

  </ul>

  <!-- Divider -->
  <hr class="my-3">
  <!-- Heading -->
  <h6 class="navbar-heading text-muted">Links</h6>
  <!-- Navigation -->
  <ul class="navbar-nav mb-md-3">

    <li class="nav-item">
      <a class="nav-link" target="_blank" 
      href="https://www.digitalspiritmakeiteasy.com/">
      <i class="ni ni-ui-04"></i> Developed by Digital Spirit 
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" target="_blank"
    href="https://www.digitalspirit.co.in/">
    <i class="ni ni-spaceship"></i> free Meetings and Webinars
  </a>
</li>

</ul>

</div>
</div>
</nav>

<div class="main-content">

  <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->

        <div class="row">        
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total File</h5>

                    <span class="h2 font-weight-bold mb-0">{{ drive }}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-file"></i>
                    </div>
                  </div>
                </div>

                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"></span>
                  <span class="text-nowrap">Overall Files</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Images</h5>
                    <span class="h2 font-weight-bold mb-0">{{dues}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-image"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"></span>
                  <span class="text-nowrap">Overall images</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Folder</h5>
                    <span class="h2 font-weight-bold mb-0">Co.. soon</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-folder"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-warning mr-2"></span>
                  <span class="text-nowrap">Overall Folders</span>
                </p>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0"> Storage</h5>
                    <span class="h2 font-weight-bold mb-0">10 GB</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-store"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <span class="text-success mr-2"></span>
                  <span class="text-nowrap">Overall</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLabel"><b>Ready to Leave?</b></h3>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span style="color:red" aria-hidden="true">×</span>
          </button>
        </div>
        <div style="color: black" class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-sm btn-primary" type="button" data-dismiss="modal">Cancel</button>
          <a style="background-color: #825ee4" class="btn btn-sm btn-primary" href="{% url 'user_logout' %}">Logout</a>
        </div>
      </div>
    </div>
  </div>


  {% block content %}

  {% endblock content %}

</div>

<!--   Core   -->
<script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<script src="/static/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
<script src="/static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>

<!--   G.Maps   -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

<!--   Argon JS   -->
<script src="/static/assets/js/argon-dashboard.min.js?v=1.1.0"></script>

</body>

</html>
