{% extends 'dashboard/base.html' %}

{% block content %}

<style>
.form-control {
color: black;   
}  
</style>

{% block header %}
{% endblock header %}

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">          
        <h3 class="mb-0">Manage Policy-Records</h3>
        </div>
        <div class="card-body">
         <div class="container">
          <form name="myformcont" class="my-2" action="/update_policy/{{lics.id}}" method="POST">
            {% csrf_token %}
            
            <div class="row jumbotron">

              <div class="col-sm-4 form-group" style="margin-top: -20px;">
                <label for="name">First Name :</label><span class="required">*</span>
                <input type="text" class="form-control" name="first_name" id="name-f" placeholder="First Name." value="{{lics.first_name}}" required>
              </div>
              <div class="col-sm-4 form-group" style="margin-top: -20px;">
                <label for="name">Middle Name :</label>
                <input type="text" class="form-control" name="middle_name" id="name-f" placeholder="Middle Name." value="{{lics.middle_name}}">
              </div>
              <div class="col-sm-4 form-group" style="margin-top: -20px;">
                <label for="name">Last Name :</label><span class="required">*</span>
                <input type="text" class="form-control" name="last_name" id="name-f" placeholder="Last Name." value="{{lics.last_name}}" required>
              </div>
		
		<div class="col-sm-4 form-group">
                <label for="Date">Date of Birth :</label><span class="required">*</span>
                <input type="Date" name="dob" class="form-control" id="Date" placeholder="enter your date of birth" value="{{lics.dob}}" required>
              </div>

		              
              <div class="col-sm-4 form-group">
                <label for="email">Email :</label><span class="required">*</span>
                <input type="text" class="form-control" name="email" id="name-l" placeholder="Email" value="{{lics.email}}" required>
              </div>


              <div class="col-sm-4 form-group">
                <label for="e_group">Contact No.</label><span class="required">*</span>
                <input type="number" class="form-control" name="contact" id="name-f" placeholder="Contact Number" value="{{lics.contact}}" required>
              </div>
              <div class="col-sm-12 form-group">
                <label for="cost_center">Address Line 1</label><span class="required">*</span>
                <input type="text" class="form-control" name="address_line_one" id="cost_center" placeholder="Address Line 1" value="{{lics.address_line_one}}" required>
              </div>
              <div class="col-sm-12 form-group">
                <label for="cost_center">Address Line 2</label>
                <input type="text" class="form-control" name="address_line_two" id="cost_center" value="{{lics.address_line_two}}" placeholder="Address Line 2" >
              </div>
              <div class="col-sm-4 form-group">
            <label for="bname">Landmark</label>
            <input type="text" class="form-control" name="lendmark" id="name-l" placeholder="Lendmark" value="{{lics.lendmark}}">
          </div>
              <div class="col-sm-4 form-group">
            <label for="bname">City</label><span class="required">*</span>
            <input type="text" class="form-control" name="city" id="name-l" placeholder="City" value="{{lics.city}}" required>
          </div>
          <div class="col-sm-4 form-group">
            <label for="bname">State</label><span class="required">*</span>
            <input type="text" class="form-control" name="state" id="name-l" placeholder="State" value="{{lics.state}}" required>
          </div>
              
          <div class="col-sm-6 form-group">
            <label for="bname">Policy Number</label><span class="required">*</span>
            <input type="text" class="form-control" name="policy_number" id="name-l" placeholder="Policy Number" value="{{lics.policy_number}}" readonly>
          </div>
          <div class="col-sm-6 form-group">
            <label for="Dname">Premium Amount</label><span class="required">*</span>
            <input type="number" class="form-control" name="premium" id="name-l" placeholder="Premium" value="{{lics.premium}}" required>
          </div>
    
          <div class="col-sm-6 form-group">
            <label for="created_on">Start Date</label><span class="required">*</span>
            <input type="Date" class="form-control" name="created_on" id="PMDate" placeholder="Start Date" value="{{lics.created_on}}" required>

          </div>
          <div class="col-sm-6 form-group">
            <label for="type_of_policy">Pay Frequency</label><span class="required">*</span>
            <select id="period"  name="pay_for" value="{{lics.created_on}}" class="form-control browser-default custom-select" required>

            <!-- <option disabled>type of policy</option> -->
            {% if lics.pay_for == 'Monthly' %}
            <option value=Monthly selected="selected">Monthly</option>
            {% else %}
            <option value=Monthly >Monthly</option>
            {% endif %}
            {% if lics.pay_for == 'Quarterly' %}
            <option value=Quarterly selected="selected">Quarterly</option>
            {% else %}
            <option value=Quarterly >Quarterly</option>
            {% endif %}
            {% if lics.pay_for == 'HalfYear' %}
            <option value=HalfYear selected="selected">HalfYear</option>
            {% else %}
            <option value=HalfYear >HalfYear</option>
            {% endif %}
            {% if lics.pay_for == 'Annually' %}
            <option value=Annually selected="selected">Annually</option>
            {% else %}
            <option value=Annually >Annually</option>
            {% endif %}
	          {% if lics.pay_for == 'OneTime' %}
            <option value=OneTime selected="selected">OneTime</option>
            {% else %}
            <option value=OneTime >OneTime</option>
            {% endif %}
          </select>
        </div>
        
        <div class="col-sm-6 form-group">
          <label for="renew_date">Due Date</label>
          <input type="date" name="renew_date" data-date-format="DD-MM-YYYY" class="form-control datetimepicker" value="{{lics.renew_date}}" id="NPMDate" placeholder="Enter renew date" required readonly>
          
        </div>
        
          <div class="col-sm-6 form-group">
            <label for="Payslip">Sum Assured</label><span class="required">*</span>
            <input type="number" class="form-control" value="{{lics.sum_assured}}" name="sum_assured" id="address-1" placeholder="Sum Assured" required>
          </div>
          
          
          <div class="col-sm-6 form-group">
            <label for="cc description">Premium Paying Term</label><span class="required">*</span>
            <input type="text" class="form-control" name="year_of_policy" id="description" placeholder="Year of Policy" value="{{lics.year_of_policy}}" required>
          </div>
	    <div class="col-sm-6 form-group">
            <label for="cc description">Last Payment Date</label><span class="required">*</span>
            <input type="text" class="form-control" name="last_payment_date" id="description" placeholder="Year of Policy" value="{{lics.last_payment_date}}" required>
          </div>

          <div class="col-sm-6 form-group">
            <label for="pan_no"> Beneficiary Name</label>
            <input type="text" class="form-control" name="beneficiary_name" id="pan-no" placeholder="Beneficiary Name" value="{{lics.beneficiary_name}}" >
          </div>
          <div class="col-sm-6 form-group">
            <label for="type_of_policy">Policy Type</label>
            <select id="inputType" value="{{lics.policy_type}}" name="type" class="form-control browser-default custom-select">
        
              <!-- <option value="" selected="selected">---------</option> -->
              {% for obj in context %}
              {% if obj.policy_type == lics.policy_type %}
              <option value={{obj.policy_type}} selected="selected" >{{obj.policy_type}}</option>
              {% endif %}
             <option value={{obj.policy_type}} >{{obj.policy_type}}</option>
              {% endfor %}
        
              
            </select>
          </div>

        <div class="col-sm-6 form-group">
          <label for="status">status</label>
          <select id="inputStatus" name="status" value="{{lics.status}}"  class="form-control browser-default custom-select">   
      
           {% if lics.status == 1 %}
            <option value=1 selected="selected" >active</option>
            {% else %}
             <option value=1 >active</option>
             {% endif %}
               {% if lics.status == 0 %}
            <option value=0 selected="selected" >deactive</option>
            {% else %}
             <option value=0>deactive</option>
             {% endif %}
            </select>
        </div>
          <div class="col-sm-12">
            <input type="checkbox" class="form-check d-inline" id="chb" required><label for="chb" class="form-check-label">&nbsp;I accept all terms and conditions.
            </label>
          </div>
    
          <div class="col-sm-12 form-group mb-0">
            <button class="btn btn-primary float-right">Update</button>
          </div>
         
       </div>
     </form>
    </div> 
    </div>
    </div>
    </div>
    </div>
    
    {% include "dashboard/footer.html" %}
    
    </div>
    
    
    {% endblock content %}

