{% extends 'dashboard/base_dashboard.html' %}

{% block content %}

<style type="text/css">
  .table .thead-light th {
    background-color: #f6f9fc;
    color: black;
  }
</style>

<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Policy Indicator</h1>
 
                      <a href="#" class="btn btn-warning btn">(0) Under Dues</a>
                      <a href="#" class="btn btn-danger btn">(0) Over Dues</a>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h1 class="card-title">Mutual Fund Indicator </h1>

                      <a href="#" class="btn btn-warning btn">(0 Under Dues</a>
                      <a href="#" class="btn btn-danger btn">(0) Over Dues</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row" style="padding-top:3%">
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title">Insurance Indicator</h1>

                    <a href="#" class="btn btn-warning btn">(0) Under Dues</a>
                      <a href="#" class="btn btn-danger btn">(0) Over Dues</a>
                    
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="card">
                  <div class="card-body">
                    <h1 class="card-title">Govt Scheme Indicator</h1>
                    <a href="#" class="btn btn-warning btn">(0) Under Dues</a>
                      <a href="#" class="btn btn-danger btn">(0) Over Dues</a>
                  </div>
                </div>
              </div>
            </div>              
            <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "dashboard/footer.html" %}

</div>
<script>

  function getpolicy(table,PolicyNo)
   {

     var Name= table.parentNode.parentNode.cells[0].innerHTML;
     var policy_type=table.parentNode.parentNode.cells[1].innerHTML;
     var phone_no= table.parentNode.parentNode.cells[2].innerHTML;
     var policy_no=PolicyNo;
     var start_date= new Date(table.parentNode.parentNode.cells[3].innerHTML);
    
     var period=table.parentNode.parentNode.cells[5].innerHTML;
  
     if(period=='Annually'){
       
              var result_date=new Date(start_date.getFullYear()+1, start_date.getMonth(), start_date.getDate());
        
              result_date=moment(result_date).format('Y-MM-DD');
document.getElementById("#PolicyNo").value=policy_no;
document.getElementById("#RenewDate").value=result_date;
document.getElementById("#PayFrequency").value=period;
document.getElementById("RenewDate").innerHTML=result_date;
        
              
          }
          else if(period=='Monthly'){
            
              var result_date=new Date(start_date.getFullYear(), start_date.getMonth()+1, start_date.getDate());
            console.log(result_date);
              result_date=moment(result_date).format('Y-MM-DD');
        
          }
          else if(period=='Quarterly'){
              var result_date=new Date(start_date.getFullYear(), start_date.getMonth()+3, start_date.getDate());
              result_date=moment(result_date).format('Y-MM-DD');
              
          }
          else if(period=='HalfYear'){
              var result_date=new Date(start_date.getFullYear(), start_date.getMonth()+6, start_date.getDate());
              result_date=moment(result_date).format('Y-MM-DD');
            
          }
   }

</script>
<!-- seet alert -->
<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

{% endblock content %}