{% extends 'dashboard/base.html' %}

{% block content %}

<style type="text/css">
  .table .thead-light th {
    background-color: #f6f9fc;
    color: black;
  }
</style>


<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col-md-12">
              <marquee behavior="scroll" direction="up" scrollamount="2">
                <h3 style="color: red" class="mb-0">Expired</h3>
              </marquee>              
              
              <br>
              
              <div class="modal fade" id="Paymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <form action="{% url 'updateRenewDateOverDue' %}" method="POST">
                      {% csrf_token %}  
                    <div style="color: black" class="modal-body"><h2> The Policy is Renewed by Date <span id ="RenewDate"></span></h2></div>
                   <div style='margin-left:20px'>
                      
                    <b> Policy No  &nbsp;&nbsp;:   </b> <input style='border:none;'type="text" id="#PolicyNo" name="PolicyNo" readonly ><br><br>
                     <b> Renew Date  &nbsp;  :  </b>  <input  style='border:none;' type="text" id="#RenewDate" name="RenewDate" readonly ><br><br>
                    <b>Pay Frequency : </b><input  style='border:none;' type="text" id="#PayFrequency" name="PayFrequency" readonly>
                    </div>
                    

                    <div class="modal-footer">
                      <button class="btn btn-sm btn-danger " type="button" data-dismiss="modal">Cancel</button>
                      <button type='submit' class="btn btn-sm btn-success"  name='submit' value='Paid'>Pay</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="thead-light">
                    <tr>
                      <!-- <th scope="col">Client_Id</th> -->
                      <!-- <th scope="col">Paid</th> -->


                      <th scope="col">Client Name</>
                      <th scope="col">Policy Type</th>
                      <th scope="col">Phone Number</th>
                      <th scope="col">Expire On</th>
                      <th scope="col">Dues In Days</th>
                      <th scope="col">Pay For</th>
                      <th scope="col">Pay</th>
                      <!-- <th scope="col">Policy_Number</th> -->
                      <!-- <th scope="col">Year_OF_Policy</th> -->
                      <!-- <th scope="col">Premium</th> -->
                      <!-- <th scope="col">Status</th> -->
                      <!-- <th scope="col">Actions</th> -->
                    </tr>
                  </thead>
                  <tbody>

                    
                    {% for obj in weekDues %}
                      
                      <td>{{ obj.first_name }}</td>
                      <td>
                        {{ obj.policy_type }}
                      </td>
                      <td>
                        {{ obj.contact }}
                      </td>
                      <td>
                    
                           {{ obj.renew_date }}
                  
                      


                      </td>

                     <td>      
                       {% for key,value  in Due_in_days.items %} 
                      
                      {% if key == obj.id %}
                      {{value}} day
                                {% endif %}
                                {% endfor %}
                              </td>
                              <td>{{obj.pay_for}}</td>
                              <td><button type='submit'name='paid'  class='btn btn-sm btn-success'data-toggle="modal" data-target="#Paymodal" onclick="getpolicy(this,{{obj.policy_number}})" >Pay</button></td>

                    </tr>

                  
                        
                        {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "dashboard/footer.html" %}

</div>
<script>

  function getpolicy(table,PolicyNo)
   {

     var Name= table.parentNode.parentNode.cells[0].innerHTML;
     var policy_type=table.parentNode.parentNode.cells[1].innerHTML;
     var phone_no= table.parentNode.parentNode.cells[2].innerHTML;
     var policy_no=PolicyNo;
     var start_date= new Date(table.parentNode.parentNode.cells[3].innerHTML);
    
     var period=table.parentNode.parentNode.cells[5].innerHTML;
  
     if(period=='Annually'){
       
              var result_date=new Date(start_date.getFullYear()+1, start_date.getMonth(), start_date.getDate());
        
              result_date=moment(result_date).format('Y-MM-DD');
document.getElementById("#PolicyNo").value=policy_no;
document.getElementById("#RenewDate").value=result_date;
document.getElementById("#PayFrequency").value=period;
document.getElementById("RenewDate").innerHTML=result_date;
        
              
          }
          else if(period=='Monthly'){
            
              var result_date=new Date(start_date.getFullYear(), start_date.getMonth()+1, start_date.getDate());
            console.log(result_date);
              result_date=moment(result_date).format('Y-MM-DD');
              document.getElementById("#PolicyNo").value=policy_no;
document.getElementById("#RenewDate").value=result_date;
document.getElementById("#PayFrequency").value=period;
document.getElementById("RenewDate").innerHTML=result_date;
        
        
          }
          else if(period=='Quarterly'){
              var result_date=new Date(start_date.getFullYear(), start_date.getMonth()+3, start_date.getDate());
              result_date=moment(result_date).format('Y-MM-DD');
              document.getElementById("#PolicyNo").value=policy_no;
document.getElementById("#RenewDate").value=result_date;
document.getElementById("#PayFrequency").value=period;
document.getElementById("RenewDate").innerHTML=result_date;
        
              
          }
          else if(period=='HalfYear'){
              var result_date=new Date(start_date.getFullYear(), start_date.getMonth()+6, start_date.getDate());
              result_date=moment(result_date).format('Y-MM-DD');
              document.getElementById("#PolicyNo").value=policy_no;
document.getElementById("#RenewDate").value=result_date;
document.getElementById("#PayFrequency").value=period;
document.getElementById("RenewDate").innerHTML=result_date;
        
            
          }
   }

</script>
<!-- seet alert -->
<script src="sweetalert2.all.min.js"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
<script src="sweetalert2.min.js"></script>
<link rel="stylesheet" href="sweetalert2.min.css">

{% endblock content %}