      <!-- Divider
        <hr class="my-3">
        <!-- Heading -->
        
        <h6 class="navbar-heading text-muted">Storage Data<br><br><span style="color: red" >(Coming Soon...)</span></br></h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">

          <li class="nav-item">
            <a class="nav-link" 
            href="#">
            <i style="color:#fb6340"  class="fa fa-trash"></i>Trash
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" 
          href="{% url 'my-drive' %}">
          <i style="color:#11cdef" class="fa fa-store"></i>Pms Drive
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" 
        href="#">
        <i style="color: #5e72e4" class="fas fa-align-left"></i> Storage
      </a>
      <h6 style="margin-left:60px;" class="navbar-heading text-muted"><span style="color: #11cdef">1 GB of 10 GB used</span></h6>
      <i style="margin-left:60px" class="navbar-heading text-muted"><span style="color:#fb6340 ">Buy Storage</span></i>
    </li>

  </ul> -->
